body{
	background-color: black
}
h1{
	color: green;
	margin: 100px;
}
p1{
	color: violet;
	
}
p2{
	color: blue;
}
p3{
	color: red;
}
p4{
	color: yellow;
}
p5{
	color: orange;
}
p6{
	color: white;
}
p7{
	color: pink;
}

